<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework - Course Name</title>

    <link href="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          media="screen"/>
    <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../static/css/application.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12" style="background-color: beige">
            <h1>Spring Framework Guru - Course Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="background-color: #333333">
            <div style="background-color: #6cb44a; margin: 5px; width: 506px; height: 290px;">
                <p>Course Image 506px x 290 px</p>
                <h3>Coding Assignment</h3>
                <ol>
                    <li>Check this project out of GitHub</li>
                    <li>Add same jumbtron image to this page</li>
                    <li>Add Course Image url of your choice from index page here and center</li>
                    <li>add Lipsum text to course decription - see: http://lipsum.pro/</li>
                    <li>Make Buy now button a bootstap css button</li>
                    <li>Update index.html page links for courses to this page</li>
                </ol>
            </div>

        </div>
        <div class="col-md-6" style="background-color: #586f6f">
            <div style="background-color: #ededed; margin: 5px;">
                <h2>Course Title</h2>
                <p> Course description - Add Lipsum text here</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <p>Buy Now - button</p>
            <p>Make this a bootstrap css button</p>
        </div>
    </div>
</div>

</body>
</html>