<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{product.page.title}">Page Title</title>

    <link href="../static/css/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.css}"/>
    <script src="../static/js/jquery-3.1.1.js"
            th:src="@{/js/jquery-3.1.1.js}"></script>

    <link href="../static/css/application.css" rel="stylesheet" media="screen"
          th:href="@{/css/application.css}"/>
</head>

<body>
<div class="jumbotron">
    <div class="container">
        <h1 th:text="#{product.page.header}">Header</h1>
        <p class="lead">Online Courses for Spring Framework</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Spring Framework - Course Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="../static/images/SpringIntroThumb.png"
                 th:src="@{images/SpringIntroThumb.png}"
                 class="center-block"/>
        </div>
        <div class="col-md-6">
            <div>
                <h2>Course Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad autem commodi corporis dicta doloremque,
                    dolores hic id non quam ratione rem soluta? Accusamus aperiam assumenda, atque beatae blanditiis
                    delectus dignissimos ea earum eos ex facere facilis natus nemo, nihil nobis nostrum odio officia
                    porro provident quisquam quos recusandae sapiente suscipit tempora tempore ut veritatis voluptatum!
                    Esse nemo nisi quisquam! Commodi consequatur dolorem quod? Ad amet, assumenda corporis cupiditate
                    dicta dolore eos et excepturi explicabo fuga ipsam laboriosam libero pariatur quaerat quasi quidem
                    quod ratione reprehenderit sit tempora veniam vitae, voluptatem voluptatibus. Ab accusamus
                    consectetur ea hic, itaque magni repellendus similique.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-6 col-md-4">
            <button class="btn-success">Buy Now!</button>
        </div>
    </div>
</div>

</body>
</html>